课件找人要。看网站，数据接口，平台服务有权限需要积分（平台服务中的平台积分：每个人有积分，120分，注册+修改信息，有120分永久有效。在校、老师进群加积分，付费200得到2000积分。）（权限说明）（token）

# 行情数据获取
## Tushare  https://www.tushare.pro/
Tushare是一个免费、开源的python财经数据接口包。
主要实现对股票等金融数据从数据采集、清洗加工到数据存储的过程，能够为金融分析人员提供快速、整洁、和多样的便于分析的数据，为他们在数据获取方面极大地减轻工作量，使他们更加专注于策略和模型的研究与实现上。考虑到Python pandas包在金融量化分析中体现出的优势，Tushare返回的绝大部分的数据格式都是pandas DataFrame类型，非常便于用pandas/NumPy/Matplotlib进行数据分析和可视化。  

### Tushare获取数据示例：

In [ ]:
!pip install tushare #先下载库

In [1]:
#导入tushare
import tushare as ts
#设置token，需要声明是谁在调用tushare的api，确认调用者的ID，根据你的积分给相应权限，token号就在tushare主页的个人中心里可以查看，复制粘贴过来
ts.set_token('')
#

In [2]:
#初始化pro接口，把它命名为pro以供调用
pro = ts.pro_api()

In [3]:
# A股日线行情--daily
df = pro.daily(ts_code='000001.SZ', start_date='20170101', end_date='20211231')#里面三个参数
#它可以实现批量下载，比如同时下载平安和浦发两只ts_code='000001.SZ, 600000.SH'
df #解读

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20211231,16.86,16.90,16.40,16.48,16.82,-0.34,-2.0214,1750760.89,2899617.148
1,000001.SZ,20211230,16.76,16.95,16.72,16.82,16.75,0.07,0.4179,796663.60,1342374.249
2,000001.SZ,20211229,17.16,17.16,16.70,16.75,17.17,-0.42,-2.4461,1469373.98,2480534.592
3,000001.SZ,20211228,17.22,17.33,17.09,17.17,17.22,-0.05,-0.2904,1126638.91,1934461.075
4,000001.SZ,20211227,17.33,17.35,17.16,17.22,17.31,-0.09,-0.5199,731118.99,1260455.319
...,...,...,...,...,...,...,...,...,...,...,...
1212,000001.SZ,20170109,9.13,9.17,9.11,9.15,9.13,0.02,0.2200,361081.57,329994.604
1213,000001.SZ,20170106,9.17,9.17,9.11,9.13,9.17,-0.04,-0.4400,358154.20,327176.433
1214,000001.SZ,20170105,9.17,9.18,9.15,9.17,9.16,0.01,0.1100,344372.91,315769.693
1215,000001.SZ,20170104,9.15,9.18,9.14,9.16,9.16,0.00,0.0000,449329.53,411503.444
1216,000001.SZ,20170103,9.11,9.18,9.09,9.16,9.10,0.06,0.6600,459840.49,420595.176

In [5]:
# 利用info获取每个column类型
df.info()
# object暂时可以理解成本字类，无法进行逻辑运算，float浮点数（小数）

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1217 entries, 0 to 1216
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ts_code     1217 non-null   object
 1   trade_date  1217 non-null   object
 2   open        1217 non-null   float64
 3   high        1217 non-null   float64
 4   low         1217 non-null   float64
 5   close       1217 non-null   float64
 6   pre_close   1217 non-null   float64
 7   change      1217 non-null   float64
 8   pct_chg     1217 non-null   float64
 9   vol         1217 non-null   float64
 10  amount      1217 non-null   float64
dtypes: float64(9), object(2)
memory usage: 104.7+ KB

In [6]:
#针对数字型的column，可以利用 describe 获取数值分布情况。（解读）info和describe在做数据描述性分析的时候经常会用。
df.describe()

,open,high,low,close,pre_close,change,pct_chg,vol,amount
count,1217.000000,1217.000000,1217.000000,1217.000000,1217.000000,1217.000000,1217.000000,1.217000e+03,1.217000e+03
mean,14.175637,14.392769,13.975448,14.191348,14.184593,0.006754,0.076251,1.041215e+06,1.491839e+06
std,4.138113,4.233414,4.034409,4.140520,4.142591,0.329617,2.104702,5.713149e+05,9.119352e+05
min,8.560000,8.620000,8.450000,8.570000,8.570000,-1.550000,-9.974300,2.274011e+05,1.987656e+05
25%,10.810000,10.980000,10.660000,10.840000,10.830000,-0.150000,-1.074500,6.460948e+05,8.415468e+05
50%,13.410000,13.630000,13.220000,13.430000,13.420000,-0.010000,-0.064100,9.004259e+05,1.309543e+06
75%,16.980000,17.250000,16.700000,16.910000,16.910000,0.150000,1.088500,1.287519e+06,1.899850e+06
max,24.910000,25.310000,24.520000,25.010000,25.010000,1.700000,10.035100,4.711461e+06,7.168653e+06

In [ ]:
#数据整理
#后面策略回测的时候惯例时间是由小到大的，而这里大到小，需要给它反过来，我们只需要把它的索引倒过来
df_1 = df.reindex(index=df.index[::-1])#再索引，新索引为原来旧索引的倒序

In [ ]:
#准备今天的回测数据，青岛啤酒
df_test = pro.daily(ts_code='600600.SH', start_date='20170101',end_date='20211231')
df_1test = df_test.reindex(index=df_test.index[::-1])
#有些列不需要，只保留未来需要的
df_1test.rename(columns={'trade_date':'date','vol':'volume'},inplace = True)#习惯上
df_2test = df_1test[['date','open','high','low','close','volume']] 
df_2test

In [ ]:
#为了方便以后使用，保存到本地
df_2test.to_csv("600600_daily_2021.csv", index=False)#展示

##  Baostock证券宝  http://baostock.com/
Baostock是一个免费、开源的证券数据平台（无需注册）。  
提供大量准确、完整的证券历史行情数据、上市公司财务数据、公司报告等。  
通过python API获取证券数据信息，满足量化交易投资者、数量金融爱好者、计量经济从业者数据需求。  
  **优点：** 免注册 免费 支持分钟线 
  **缺点：** 数据种类有限    
  
【展示一下】哪些数据，怎么安装（平台介绍），（API文档）入门示例代码及下面参数，用的时候直接复制改参数

##  AkShare https://www.akshare.xyz/
AkShare 是基于 Python 的开源金融数据接口库，目的是实现对股票、期货、期权、基金、外汇、债券、指数、数字货币等金融产品的基本面数据、实时和历史行情数据、衍生数据从数据采集、数据清洗、到数据落地的一套开源工具，满足金融数据科学家，数据科学爱好者在金融数据获取方面的需求。  
  **优点：** 数据种类丰富，免费  
  **缺点：** 无法批量操作  
  
  【展示一下】数据字典，打开股票，A股，历史行情数据，会告诉你接口函数、参数，有很多示例，copy下来改就行。有从东财拔下来的，有从新浪拔下来的